elasticsearch
fastapi
huggingface_hub
minio
pdf2image
pillow
psycopg2-binary
pydantic
PyPDF2
pytesseract
python-docx
python-multipart
qdrant-client
sentence-transformers
SQLAlchemy
transformers
uvicorn[standard]