docx
elasticsearch
fastapi
huggingface_hub
minio
opencv-python
paddleocr
pdf2image
pillow
psycopg2-binary
pydantic
PyPDF2
pytesseract
python-docx
python-multipart
qdrant-client
sentence-transformers
SQLAlchemy
torch
transformers
uvicorn[standard]